*.png
*.jpg
*.jar
*.jarP
*.json
*.db
*.csv
*.ico
*.mp3
*.ogg
*.wav
*.html
*.htm
*.schem
*.nbt
*.schematics
*.log
*.zip
*.backup
*.js
*.skin
*.player
*.secret
*.dat

Essentials/userdata/
dynmap/
elyby-skinsystem/
Authme/
LuckPerms/
NotQuests/
MiraiMC/
Link2QQ/
Chat2QQ/